<div class="container">
  <div class="left">
    <h2>Вся теория по директивам, в том числе структурные </h2>
  </div>
  <div class="right">
    <h1>Angular Directives</h1>


    <p appStyle="red" [dStyles]="{ border: '1px solid blue', fontWeight: 'bold', borderRadius: '15px' }">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, cum!
    </p>

    <p appStyle="lightGreen" [dStyles]="{ border: '1px solid violet', fontWeight: 'normal', borderRadius: '25px' }">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, similique?
    </p>

    <button class="btn" (click)="isVisible = !isVisible">Hide / Show</button>


    <!-- <div class="wrap" *ngIf="isVisible">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt recusandae quod culpa perferendis sint iure praesentium eaque adipisci voluptatum labore!</p>
    </div> -->

    <!-- <ng-template [ngIf]="isVisible">
      <div class="wrap">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt recusandae quod culpa perferendis sint iure praesentium eaque adipisci voluptatum labore!</p>
      </div>
    </ng-template> -->


    <div class="wrap" *appNotif="!isVisible">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt recusandae quod culpa perferendis sint iure praesentium eaque adipisci voluptatum labore!</p>
    </div>
  </div>
</div>
